@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Road+Rage&display=swap");
body {
  color: white;
  background-color: rgb(50, 50, 50);
}
body header h1 {
  text-align: center;
}
body header nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1400px;
  text-align: center;
}
body main {
  width: 1024px;
  margin: 0px auto;
}
body main #game {
  position: relative;
}
body main #game .row {
  display: flex;
}
body main #game .row .col {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  /*border: 1px solid rgb(60, 60, 60);*/
  background: black;
  /*&.perso {
  }*/
}
body main #game .row .col.room {
  border: 1px solid rgb(60, 60, 60);
  background-image: url("../img/ground1.png");
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #game .row .col.room:hover {
  background-color: rgb(0, 65, 135);
  filter: drop-shadow(0px 0px 10px rgb(0, 65, 135));
}
body main #game .row .col.corridor {
  border: 1px solid rgb(60, 60, 60);
  background-image: url("../img/ground1.png");
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #game .row .col.corridor:hover {
  background-color: rgb(0, 65, 135);
  filter: drop-shadow(0px 0px 10px rgb(0, 65, 135));
}
body main #game .row .col.stairs {
  background-image: url("../img/stairs.png");
  background-color: grey;
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
body main #game .row .col.monster {
  background-image: url("../img/monster1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #game .row .col.monster:hover {
  background-color: rgb(175, 0, 0);
  filter: drop-shadow(0px 0px 10px rgb(175, 0, 0));
  cursor: pointer;
}
body main #game .row .col.wall {
  background-image: url("../img/wall.png");
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #game .row .col.brasero {
  background-image: url("../img/brasero.png");
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main #game .heroPad {
  background-color: rgba(255, 255, 0, 0.3);
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  position: absolute;
}
body main #game .heroPad:hover {
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 0));
  cursor: pointer;
}
body main #game .heroPad#entityHero {
  background-color: initial;
}
body main #game .heroPad#entityHero:hover {
  background-color: rgba(0, 190, 0, 0.3);
  filter: drop-shadow(0px 0px 10px rgb(0, 190, 0));
}
body main #game .heroPad#entityHero img {
  display: block;
  width: 100%;
}
body footer #stuckBtn {
  text-align: center;
  box-sizing: border-box;
  background-color: grey;
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin: 5px auto;
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}

/*body {
    main {
        #game {
            .row {
                .col {
                    &.pathCorridor {
                        background-color: red;
                        border: 1px solid white;
                        border-radius: 50%;

                        &.room {
                            background-color: yellow;
                        }

                        &.wall {
                            background-color: red;
                        }

                        &.brasero {
                            background-color: red;
                        }
                    }

                    &.upOCorr {
                        background-color: green;

                        &.wall {
                            background-color: green;
                        }

                        &.room {
                            background-color: green;
                        }

                        &.brasero {
                            background-color: green;
                        }
                        &.pathCorridor {
                            background-color: green;
                        }
                    }

                    &.downOCorr {
                        background-color: lightgreen;

                        &.wall {
                            background-color: lightgreen;
                        }

                        &.room {
                            background-color: lightgreen;
                        }

                        &.brasero {
                            background-color: lightgreen;
                        }
                        &.pathCorridor {
                            background-color: lightgreen;
                        }
                    }
                    &.leftOCorr{
                        &.wall {
                            background-color: greenyellow;
                        }

                        &.room {
                            background-color: greenyellow;
                        }

                        &.brasero {
                            background-color: greenyellow;
                        }
                        &.pathCorridor {
                            background-color: greenyellow;
                        }
                    }
                    &.rightOCorr{
                        &.wall {
                            background-color: cyan;
                        }

                        &.room {
                            background-color: cyan;
                        }

                        &.brasero {
                            background-color: cyan;
                        }
                        &.pathCorridor {
                            background-color: cyan;
                        }
                    }

                    &.joinCorr {                      
                        border: 10px solid orange;
                    }
                }
            }
        }
    }
}*//*# sourceMappingURL=style.css.map */