@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Road+Rage&display=swap');

body {
    color: white;
    background-color: rgb(50, 50, 50);

    header {
        h1 {
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin: 0px auto;
            max-width: 1400px;
            text-align: center;
        }
    }

    main {
        max-width: 1024px;
        margin: 0px auto;

        #game {
            .row {
                display: flex;

                .col {
                    width: 32px;
                    height: 32px;
                    box-sizing: border-box;
                    /*border: 1px solid rgb(60, 60, 60);*/
                    background: black;

                    &.room {
                        border: 1px solid rgb(60, 60, 60);
                        background-image: url('../img/ground1.png');
                        background-color: grey;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.corridor {
                        border: 1px solid rgb(60, 60, 60);
                        background-image: url('../img/ground1.png');
                        background-color: grey;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.monster {
                        background-image: url('../img/monster1.png');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.perso {
                        background-image: url('../img/heroM.png');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.wall {
                        background-image: url('../img/wall.png');
                        background-color: grey;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    &.brasero {
                        background-image: url('../img/brasero.png');
                        background-color: grey;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
// mise en evidence de path corridor
/*body {
    main {
        #game {
            .row {
                .col {
                    &.pathCorridor {
                        background-color: red;
                        border: 1px solid white;
                        border-radius: 50%;

                        &.room {
                            background-color: yellow;
                        }

                        &.wall {
                            background-color: red;
                        }

                        &.brasero {
                            background-color: red;
                        }
                    }

                    &.upOCorr {
                        background-color: green;

                        &.wall {
                            background-color: green;
                        }

                        &.room {
                            background-color: green;
                        }

                        &.brasero {
                            background-color: green;
                        }
                        &.pathCorridor {
                            background-color: green;
                        }
                    }

                    &.downOCorr {
                        background-color: lightgreen;

                        &.wall {
                            background-color: lightgreen;
                        }

                        &.room {
                            background-color: lightgreen;
                        }

                        &.brasero {
                            background-color: lightgreen;
                        }
                        &.pathCorridor {
                            background-color: lightgreen;
                        }
                    }
                    &.leftOCorr{
                        &.wall {
                            background-color: greenyellow;
                        }

                        &.room {
                            background-color: greenyellow;
                        }

                        &.brasero {
                            background-color: greenyellow;
                        }
                        &.pathCorridor {
                            background-color: greenyellow;
                        }
                    }
                    &.rightOCorr{
                        &.wall {
                            background-color: cyan;
                        }

                        &.room {
                            background-color: cyan;
                        }

                        &.brasero {
                            background-color: cyan;
                        }
                        &.pathCorridor {
                            background-color: cyan;
                        }
                    }

                    &.joinCorr {                      
                        border: 10px solid orange;
                    }
                }
            }
        }
    }
}*/